
body{
    display: grid;
    justify-content: center;
    align-items: center;
    
}
canvas{
    border-style:double ;

}
.pontos{
    margin-left: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
.pontos p{
    background-color: blueviolet;
    padding: 10px;
    border-radius: 50px;
}
.wrapper{
    display: flex;
    justify-content: center;
}
header{
    margin-left: 180px ;
    color: green;
    
}

